<div id="nav-bg">
  <nav id="top-nav">
    <a href="{{'/' | relative_url }}" id="logo">home</a>
    <input type="checkbox" id="menu-icon">
    <label class="menu-label" for="menu-icon"></label>
    <div class="trigger">
      <div class="trigger-child">
        <span class="nav-link"><a href="{{'/2024/' | relative_url }}">lectures</a></span>
        <span class="nav-link"><a href="{{'/about/' | relative_url }}">about</a></span>
        <span class="nav-link"><a href="{{'/statement_of_intent' | relative_url }}">statement of intent</a></span>
        <span class="nav-link"><a href="{{ /guestbook | relative_url }}">guestbook</a></span>
      </div>
    </div>
  </nav>
</div>
