{% for lecture in lectures %}
    {% if lecture.phony != true %}
        <li>
        {% if lecture.phase == 1 %}
            <span style="background-color: #B6D7A8; border-radius: 10px; padding: 1px; color: #222;"> Phase 1</span>
        {% else if lecture.phase == 2 %}
            <span style="background-color: #76A5AF; border-radius: 10px; padding: 1px; color: #222;"> Phase 2</span>
        {% else %}
            <span style="background-color: #FF0000; border-radius: 10px; padding: 1px; color: #222;"> Phase ?</span>
        {% endif %}
        <strong>{{ lecture.date | date: '%d/%m/%y' }}</strong>:
        {% if lecture.ready %}
            <a href="{{ lecture.url | relative_url }}">{{ lecture.title }}</a>
        {% elsif lecture.noclass %}
          {{ lecture.title }} [no class]
        {% else %}
          {{ lecture.title }} [coming soon]
        {% endif %}
        </li>
    {% endif %}
{% endfor %}
