{% for lecture in lectures %}
    {% if lecture.phony != true %}
        <li>
        {% if include.hideDates %}
            <strong>Date: TBD</strong>
        {% else %}
            <strong>{{ lecture.date | date: '%d/%m/%y' }}</strong>:
        {% endif %}

        {% if lecture.ready %}
            <a href="{{ lecture.url | relative_url }}">{{ lecture.title }}</a>
        {% elsif lecture.noclass %}
          {{ lecture.title }} [no class]
        {% else %}
          {{ lecture.title }} [coming soon!]
        {% endif %}
        </li>
    {% endif %}
{% endfor %}
